[submodule "ROG-Map"]
	path = cnn_perception/rog_map
	url = https://github.com/qza36/ROG-Map-ROS2.git
[submodule "far_planner"]
    path = cnn_planner/far_planner
    url = https://github.com/qza36/far_planner.git
